.TodoItem {
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
                  0px 1px 1px 0px rgba(0,0,0,.14),
                  0px 3px 3px -1px rgba(0,0,0,.12);
  border-radius: 50px;
}

.TodoItem-p {
  margin: 4px 0 4px 4px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 18px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.fe-check {
  color: darkblue;
}

.fa-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -24px;
  right: 0;
}

.fa-trash {
  color: red;
}
